/upload/barcodes/*
!/upload/barcodes/index.php

/upload/csv/*
!/upload/csv/index.php

/upload/faculty_clearance/*
!/upload/faculty_clearance/index.php

/upload/file/*
!/upload/file/.htaccess
!/upload/file/index.php

/upload/graduating_clearance/*
!/upload/graduating_clearance/index.php

/upload/gradesheet/

/upload/logs/*
!/upload/logs/index.php
!/upload/logs/summary_subjects.log
!/upload/logs/summary_document_requirements.log

/upload/proof_payment/*
!/upload/proof_payment/index.php

/upload/qrcode_image/*
!/upload/qrcode_image/index.php

/upload/user_image/*
!/upload/user_image/.htaccess
!/upload/user_image/index.php
!/upload/user_image/profile-img.png

/upload/user_signature/
!/upload/user_signature/.htaccess
!/upload/user_signature/index.php