/* change based on need */
:root {
    /* global colors [usually main colors]*/
    --g-custom: #2463eb;
    --g-rgb-custom: 36, 99, 235;
    --g-sidebar-color: #dddddd;
    --g-sidebar-color-active: #f5f5f5;

    /* --g-text-section: #727275;
    --g-icon: #8d9498;
    --g-text: #b9babf; 
    --g-hover:6861ce ;
    */

    /* color palette */
    --dark-blue: #2463eb;
    --green: #006c40;
    --red: #891811;
    --black: #000000;
    --white: #ffffff;

    /*  */
    --muted: #6b7280;
    --bg: #f5f7fb;
    --card-bg: #ffffff;

    --dark: #1f1f1f;
    --blue: #0b5fa5;
    --light: #ffffff;
    --gray: #f2f2f2;
}