:root {
  --color-accent-blue: hsl(223, 98%, 43%);
  --color-accent-blue-text: hsl(223, 98%, 43%);
  --color-accent-blue-btn-bg: hsl(223, 98%, 55%);
  --color-accent-blue-btn-bg-hover: hsl(223, 98%, 48%);
  --color-accent-blue-border: hsl(223, 98%, 82%);
  --color-accent-blue-subtle-bg: hsl(223deg, 98%, 96%);

  --color-accent-darkblue: hsl(228, 100%, 25%);
  --color-accent-darkblue-text: hsl(228, 100%, 25%);
  --color-accent-darkblue-btn-bg: hsl(228, 100%, 25%);
  --color-accent-darkblue-btn-bg-hover: hsl(228, 100%, 20%);
  --color-accent-darkblue-border: hsl(228deg, 22%, 72%);
  --color-accent-darkblue-subtle-bg: hsl(228, 100%, 96%);

  /* DARK BLUE*/
  --color-dblue-text: hsl(228, 83%, 25%);
  --color-dblue-btn-bg: hsl(228deg, 83%, 25%);
  --color-dblue-btn-bg-hover: hsl(228deg, 83%, 30%);
  --color-dblue-border: hsl(228deg 38% 47%);
  --color-dblue-subtle-bg: hsl(228deg, 83%, 92%);
  --color-dblue-subtle-bg-hover-2: hsl(228deg, 83%, 96%);

  /* GREEN */
  --color-green-text: hsl(161, 83%, 16%);
  --color-green-btn-bg: hsl(161, 82%, 16%);
  --color-green-btn-bg-hover: hsl(161, 82%, 20%);
  --color-green-border: hsl(161deg 56% 32%);
  --color-green-subtle-bg: hsl(161, 32%, 90%);
  --color-green-subtle-bg-hover-2: hsl(161, 32%, 94%);

  /* YELLOW */
  --color-yellow-text: hsl(34, 100%, 30%);
  --color-yellow-btn-bg: hsl(34, 100%, 30%);
  --color-yellow-btn-bg-hover: hsl(34, 80%, 35%);
  --color-yellow-border: hsl(34deg, 44%, 42%);
  --color-yellow-subtle-bg: hsl(34, 45%, 90%);
  --color-yellow-subtle-bg-hover-2: hsl(34, 45%, 94%);

  /* TEAL */
  --color-teal: hwb(192 0% 40%);
  --color-teal-text: hsl(192, 100%, 30%);
  --color-teal-btn-bg: hsl(192, 100%, 30%);
  --color-teal-btn-bg-hover: hsl(192, 80%, 35%);
  --color-teal-border: hsl(192deg, 44%, 42%);
  --color-teal-subtle-bg: hsl(192, 45%, 90%);
  --color-teal-subtle-bg-hover-2: hsl(192, 45%, 94%);

  /* TEAL 2 */
  --color-teal2-text: hsl(182, 38%, 61%);
  --color-teal2-btn-bg: hsl(182, 38%, 61%);
  --color-teal2-btn-bg-hover: hsl(182, 38%, 66%);
  --color-teal2-border: hsl(182, 35%, 39%);
  --color-teal2-subtle-bg: hsl(182, 38%, 90%);
  --color-teal2-subtle-bg-hover-2: hsl(182, 38%, 94%);

  /* RED */
  --color-red-text: hsl(0, 60%, 38%);
  --color-red-btn-bg: hsl(0, 60%, 38%);
  --color-red-btn-bg-hover: hsl(0, 60%, 42%);
  --color-red-border: hsl(0deg 40% 45%);
  --color-red-subtle-bg: hsl(0, 63%, 92%);
  --color-red-subtle-bg-hover-2: hsl(0, 63%, 96%);

  /* PURPLE */
  --color-purple-text: hsl(226, 28%, 44%);
  --color-purple-btn-bg: hsl(226, 28%, 44%);
  --color-purple-btn-bg-hover: hsl(226, 28%, 50%);
  --color-purple-border: hsl(226deg, 28%, 57%);
  --color-purple-subtle-bg: hsl(226, 100%, 92%);
  --color-purple-subtle-bg-hover-2: hsl(226, 100%, 93%);

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-gray-0: hsl(0, 0%, 98%);
  --color-gray-1: hsl(0, 0%, 96%);
  --color-gray-2: hsl(0, 0%, 90%);
  --color-gray-3: hsl(0, 0%, 83%);
  --color-gray-4: hsl(0, 0%, 64%);
  --color-gray-5: hsl(0, 0%, 45%);
  --color-gray-6: hsl(0, 0%, 32%);
  --color-gray-7: hsl(0, 0%, 25%);
  --color-gray-8: hsl(0, 0%, 15%);
  --color-gray-9: hsl(0, 0%, 9%);

  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-default: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2rem;
  --font-size-5xl: 2.125rem;

  --z-negative: -1;
  --z-elevate: 1;
  --z-dropdown: 100;
  --z-sticky: 200;
  --z-fixed: 250;
  --z-modal-backdrop: 400;
  --z-modal: 450;
  --z-popover: 600;
  --z-tooltip: 650;
}

/* Utilities/helpers */
.h-100vh {
  min-height: 100vh !important;
}

.color-accent-darkblue-bg {
  background-color: var(--color-accent-darkblue);
}

.color-accent-blue-bg {
  background-color: var(--color-accent-blue);
}

.font-size-s {
  font-size: var(--font-size-s);
}

.font-size-default {
  font-size: var(--font-size-default);
}

.font-size-l {
  font-size: var(--font-size-l);
}

.base-header {
  padding-left: 0;
  /* Override declared in main-style.css */
}

.nav-left .nav-link {
  font-weight: 600;
  color: var(--color-gray-5);
  position: relative;
  transition: none;
}

.nav-left .nav-link::after {
  content: "";
  height: 3px;
  background-color: var(--color-accent-darkblue);
  position: absolute;
  bottom: 5px;
  left: 1rem;
  right: 1rem;
  opacity: 0;
}

.nav-left .nav-link:hover {
  color: var(--color-accent-darkblue);
}

.nav-left .nav-link:hover::after {
  opacity: 1;
}

.nav-left .nav-link.current-page {
  color: var(--color-accent-darkblue);
}

.nav-left .nav-link.current-page::after {
  opacity: 1;
  background-color: var(--color-accent-darkblue);
}

.toggle-sidebar-btn {
  font-size: 2rem;
}

.header-logo {
  width: 90px;
}

.intro-section {
  padding-bottom: 3rem;
  /* background-color: var(--color-gray-1); */
  /* border-bottom: 1px solid var(--color-gray-2); */
}

.intro-section__description {
  max-width: 70ch;
}

.card-wrapper {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.card-wrapper-lg {
  margin-left: auto;
  margin-right: auto;

  /* margin-top: 1rem; */
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.card-content {
  background-color: var(--color-accent-subtle-bg);
  border: 1px solid var(--color-accent-border);
  box-shadow: 0 2px 0 var(--color-accent-border);
  border-radius: 0.5rem;
  overflow: hidden;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Card Teal */
.services-1 {
  --color-accent-subtle-bg: var(--color-teal-subtle-bg);
  --color-accent-border: var(--color-teal-border);
  --color-accent-text: var(--color-teal-text);
  --color-accent-btn-bg: var(--color-teal-btn-bg);
  --color-accent-btn-bg-hover: var(--color-teal-btn-bg-hover);
  --color-accent-btn-bg-hover-2: var(--color-teal-subtle-bg-hover-2);
}

.header-color {
  background-color: var(--bs-btn-active-bg);
}

.card-content__body {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 1rem;
}

.card-content__description {
  margin-right: 1rem;
}

.card-content__heading {
  font-size: clamp(0.95rem, 1.2vw, 2rem) !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--color-accent-text);
}

.card-content__sub_heading {
  font-size: clamp(0.85rem, 1vw, 1rem) !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--color-accent-text);
}

.card-content__subheading {
  color: var(--color-gray-7);
}

.card-content__description .ul-details li {
  font-size: clamp(0.85rem, 1vw, 1rem) !important;
}

.services-logo {
  width: clamp(50px, 20vw, 120px) !important;
  height: auto;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 500px;
  perspective: 500px;
  will-change: transform, opacity;
}

.services-logo.animate {
  -webkit-animation: tilt 500ms both;
  animation: tilt 500ms both;
}

.text-teal {
  color: var(--color-teal) !important;
}

.bg-teal {
  background-color: var(--color-teal) !important;
}

@-webkit-keyframes tilt {
  0% {
    -webkit-transform: rotateY(30deg) translate3d(0, -100px, 0) skewY(-30deg);
    transform: rotateY(30deg) translate3d(0, -100px, 0) skewY(-30deg);
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(0deg) translate3d(0, 0, 0) skewY(0deg);
    transform: rotateY(0deg) translate3d(0, 0, 0) skewY(0deg);
    opacity: 1;
  }
}

@keyframes tilt {
  0% {
    -webkit-transform: rotateY(30deg) translate3d(0, -100px, 0) skewY(-30deg);
    transform: rotateY(30deg) translate3d(0, -100px, 0) skewY(-30deg);
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(0deg) translate3d(0, 0, 0) skewY(0deg);
    transform: rotateY(0deg) translate3d(0, 0, 0) skewY(0deg);
    opacity: 1;
  }
}

.card-content__action {
  padding: 1rem;
  border-top: 1px solid var(--color-accent-border);
  background-color: var(--color-white);
}

.action-link {
  color: var(--color-white);
  background-color: var(--color-accent-btn-bg);
  font-size: var(--font-size-s);
  font-weight: 600;
  -webkit-text-decoration: none;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: 0;
  width: max-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.action-link:hover {
  color: var(--color-white);
  background-color: var(--color-accent-btn-bg-hover);
}

.action-link:focus {
  color: var(--color-white);
  background-color: var(--color-accent-btn-bg-hover);
  outline: 2px solid var(--color-white);
  outline-offset: -4px;
}

.action-link:not(:first-child) {
  background-color: var(--color-accent-subtle-bg);
  color: var(--color-accent-text);
  box-shadow: inset 0 0 0 1px var(--color-accent-btn-bg);
}

.action-link:not(:first-child):hover {
  background-color: var(--color-accent-btn-bg-hover-2);
}

.action-link:not(:first-child):focus {
  outline: none;
  background-color: var(--color-accent-btn-bg-hover-2);
  box-shadow: inset 0 0 0 2px var(--color-accent-btn-bg);
}

.action-link.show {
  background-color: var(--color-accent-btn-bg-hover);
}

.trailing-icon {
  font-size: 1.1rem;
  margin-left: 0.6rem;
}

.base-footer {
  z-index: 999;
}

.dropdown-toggle.caret-off::before {
  display: none;
}

.dropdown-toggle.caret-off::after {
  display: none;
}

.card-content__action .dropdown-menu {
  border: 1px solid var(--color-gray-3);
}

.card-content__action .dropdown-item:hover {
  background-color: var(--color-gray-2);
}

.card-content__action .dropdown-item:active {
  background-color: var(--color-gray-3);
  color: var(--color-black);
}



/* @media (min-width: 320px) {
  .services-logo {
    width: 70px;
  }

  .card-content__description .ul-details li {
    font-size: xx-small !important;
  }
}

@media (min-width: 375px) {
  .services-logo {
    width: 70px;
  }

  .card-content__description .ul-details li {
    font-size: xx-small !important;
  }
}

@media (min-width: 640px) {
  .card-content__description .ul-details li {
    font-size: xx-small !important;
  }
} */

@media (min-width: 720px) {
  .card-wrapper {
    max-width: initial;
    margin-left: initial;
    margin-right: initial;

    grid-template-columns: repeat(2, 1fr);
  }

  /* .services-logo {
    width: 100px;
  }

  .card-content__description .ul-details li {
    font-size: small !important;
  } */
}

@media (min-width: 1200px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1900px) {
  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 2100px) {
  .card-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* from customStyles */

:root {
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-default: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
}

.logo-img {
  height: 100px;
}

.logo-img-sm {
  width: 60px;
}

.header-heading {
  font-size: var(--font-size-xl);
  font-weight: 300;
}

.login-form {
  width: min(32rem, 100%);
}

.content-card {
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity));
  padding: 1.5rem;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  border-radius: 0.5rem;
}

.content-card__heading {
  font-size: var(--font-size-3xl);
  font-weight: 300;
  margin-bottom: 1.2rem;
}

.form-input-group {
  margin-bottom: 1.2rem;
}

.input-textfield__label {
  margin-bottom: 0.5rem;
}

.input-textfield {
  padding: 0.65rem 0.85rem;
}

.text-small {
  font-size: var(--font-size-s);
}

.attempt-indicator {
  display: inline-block;
  margin-top: 1.2rem;
}

.text-link {
  font-size: var(--font-size-s);
}

.leading-icon {
  font-size: 1.5rem;
}

.c-button {
  padding: 0.65rem 0.85rem;
  --bs-btn-bg: #083AA9;
  --bs-btn-border-color: #083AA9;
  --bs-btn-hover-border-color: #0e4dd4;
  --bs-btn-hover-bg: #0e4dd4;
  --bs-btn-active-bg: #083AA9;
}

.ol-form {
  width: min(40rem, 100%);
}

.navbar .navbar-nav .nav-link {
  color: hsla(0, 0%, 100%, 0.7);
  position: relative;
}

.navbar .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar .navbar-nav .nav-link::after {
  content: "";
  height: 2px;
  background-color: #fff;

  position: absolute;
  bottom: 5px;
  left: 0.5rem;
  right: 0.5rem;

  opacity: 0;
  transform: scale(0.5);
  transition: 150ms;
  transition-property: opacity, transform;
}

.navbar .navbar-nav .nav-link:hover::after,
.navbar .navbar-nav .nav-link.active::after {
  opacity: 1;
  transform: scale(1);
}

.cursor-default {
  cursor: default;
}

.bgc-orange500 {
  background-color: #D87B00;
}

.bgc-blue500 {
  background-color: rgb(59, 130, 246);
}

.c-blue500 {
  color: rgb(59, 130, 246);
}

.bgc-yellow500 {
  background-color: rgb(234, 179, 8);
}

.bgc-emerald600 {
  background-color: rgb(5, 150, 105);
}

.bgc-rose700 {
  background-color: rgb(190, 18, 60);
}

.bgc-navCCC {
  background-color: #438ff4;
}

.tc-blue500 {
  color: rgb(59, 130, 246);
}

.tc-yellow500 {
  color: rgb(234, 179, 8);
}

.tc-emerald600 {
  color: rgb(5, 150, 105);
}

.tc-rose700 {
  color: rgb(190, 18, 60);
}

.timeIn,
.timeIn:focus {
  color: rgb(59, 130, 246);
}

.timeOut,
.timeOut:focus {
  color: rgb(190, 18, 60);
}

.breakOut,
.breakOut:focus {
  color: rgb(234, 179, 8);
}

.breakIn,
.breakIn:focus {
  color: rgb(5, 150, 105);
}

.onsite-log-button:hover .onsite-log-button__icon {
  transition: transform 150ms;
  transform: translateY(-7px);
}

.button-key-icon {
  font-size: 1.55rem;
  top: 3px;
}

.error-response {
  --error-color: rgb(238, 85, 14);

  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.error-response-icon-color {
  color: var(--error-color);
}

.error-response__content {
  min-width: 40rem;
  min-height: 18rem;
  background-color: rgb(255, 255, 255);
}

.error-response__icon {
  animation: blink 1.8s linear infinite;
}

.error-response__icon i {
  font-size: 9rem;
}

.error-response__message {
  background-color: rgb(252, 233, 224);
}

.error-response__message p {
  color: var(--error-color);
  border: 2px solid rgb(241, 173, 141);
}

.c-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 12px 28px rgba(0, 0, 0, 0.1);
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.p-reset-card {
  position: relative;
}

.p-reset-card::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: rgb(59, 130, 246);

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* status css */
.status-blue,
.status-yellow,
.status-green,
.status-teal,
.status-orange,
.status-red,
.status-darkred,
.status-gray {
  padding: 1px;
  width: 95px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.67;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 100px;
  text-align: center;
  align-items: center;
  margin: auto;
}


.status-blue {
  color: #5887ff;
  background-color: rgba(88, 135, 255, .1)
}

.status-yellow {
  color: #edca16;
  background-color: rgba(237, 202, 22, .1)
}

.status-orange {
  color: #f18f01;
  background-color: rgba(241, 143, 1, .1)
}

.status-red {
  color: #f26464;
  background-color: rgba(245, 91, 93, .1)
}

.status-darkred {
  color: #C62121;
  background-color: rgba(198, 33, 33, .1);
  /* padding-block: 1px;
  padding-inline: 10px;
  width: max-content; */
}

.status-green {
  color: #4bde97;
  background-color: rgba(75, 222, 151, .1)
}

.status-teal {
  color: #048c7f;
  background-color: rgba(4, 140, 127, .1)
}

.status-gray {
  color: #7c7c7c;
  background-color: rgba(124, 124, 124, .1)
}

/*  */
.bd-callout {
  padding: 0.5rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border: 1px solid #d6dfe7;
  border-left-width: 0.25rem;
  border-radius: 0.25rem
}

.bd-callout-primary {
  border-left: 5px solid var(--color-accent-blue);
  border-color: var(--color-accent-blue-btn-bg);
  color: var(--color-accent-blue-btn-bg);
}

.bd-callout-info {
  border-left: 5px solid #5bc0de;
  border-color: #5bc0de;
  color: #5bc0de;
}

.bd-callout-warning {
  border-left: 5px solid #f0ad4e;
  border-color: #f0ad4e;
  color: #f0ad4e;
}

.bd-callout-danger {
  border-left: 5px solid #d9534f;
  border-color: #d9534f;
  color: #d9534f;
}

.btn-blue {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--color-accent-blue);
  --bs-btn-border-color: var(--color-accent-blue);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--color-accent-blue-btn-bg-hover);
  --bs-btn-hover-border-color: var(--color-accent-blue-btn-bg);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color-accent-blue-btn-bg);
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--color-accent-blue);
  --bs-btn-disabled-border-color: var(--color-accent-blue);
}

.btn-clrance {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--color-clear-btn-bg);
  --bs-btn-border-color: var(--color-clear-border);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--color-clear-btn-bg-hover);
  --bs-btn-hover-border-color: var(--color-clear-border);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color-clear-btn-bg);
  --bs-btn-active-border-color: var(--color-clear-border);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--color-clear-subtle-bg);
  --bs-btn-disabled-border-color: var(--color-clear-subtle-bg-hover-2);
}